main {
  .location {
    background-color: $grey-3-color;
    color: $grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15.5px 0;
    flex-shrink: 0;
    gap: 17px;
    z-index: -10;

    &__exact {
      font-size: $sm-fs;
    }
  }

  .reservation {
    background-color: $grey-4-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    &__title {
      font-family: $roboto;
      font-size: $lg-fs;
      font-weight: 700;
      text-align: center;
      width: 70%;
      margin-bottom: 12px;
    }

    &__tagline {
      font-size: $sm-fs;
      font-weight: 300;
      text-align: center;
      width: 80%;
    }

    &__button {
      margin-bottom: 17px;
      margin-top: 27px;
      button {
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .fonctionnement {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    max-width: 1120px;

    &__content {
      max-width: 100%;
      justify-content: flex-start;
    }

    &__title {
      margin-bottom: 26px;
    }

    &__steps {
      @include list-item-numbers;
      padding-left: 12.5px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }

    &__step {
      display: flex;
      background: $grey-4-color;
      border-radius: $m-br;
      padding: 28px 38px;
      width: 335px;
      gap: 25px;
      height: max-content;
      position: relative;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;

      &:hover {
        transform: scale(1.1);
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      &::before {
        position: absolute;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background-color: $primary-color;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 24px;
        left: -12px;
        top: 50%;
        transform: translateY(-50%);
      }

      i {
        color: $grey-2-color;
      }

      .highlighted {
        color: $primary-color;
      }
    }
  }

  .restaurants {
    padding: 54px 20px 66px 20px;
    background-color: $grey-4-color;

    &__contents {
      max-width: 1080px;
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 24px;
      margin-right: 24px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      gap: 18px;
      @media screen and (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__card {
      width: 100%;
      max-width: 500px;
      list-style: none;
      background-color: white;
      border-radius: $m-br;
      transition: all ease .2s ;
      &:hover {
        transform: scale(1.05);
      }
    }

    &__img {
      width: 100%;
      height: 174px;
      object-fit: cover;
      border-top-left-radius: $m-br;
      border-top-right-radius: $m-br;
    }

    &__content {
      display: flex;
      padding: 16px 25px 12px 13px;
      justify-content: space-between;
      align-items: center;
    }

    &__name {
      margin-bottom: 5px;
    }

    &__like {
      position: relative;
      width: max-content;
      height: max-content;
      cursor: pointer;
      transition: all ease .2s;
      background: none;
      padding: 0;
      &:active {
        .restaurants__like__default {
          opacity: 0;
        }
        .restaurants__like__active {
          opacity: 1;
          transform: translate(-50%, -50%) scale(0.9);
        }
      }
      &[data-active] {
      .restaurants__like__default {
        opacity: 0;
      }
      .restaurants__like__active {
        opacity: 1;
      }
    }
      &__default {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: all ease .2s;
      }
      &__active {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: all ease .2s;
      }
    }

    &__1 .restaurants__img {
      object-position: bottom center;
    }

    &__2 .restaurants__img {
      object-position: center 60%;
    }

    &__3 .restaurants__img {
      object-position: bottom;
    }

    &__4 .restaurants__img {
      object-position: bottom;
    }
  }
}

@media (min-width: 769px) {
  body {
    .reservation {
      &__title {
        font-size: $desk-xl-fs;
        margin-bottom: 32px;
      }
    }
    .fonctionnement {
      &__steps {
        justify-content: flex-start;
        gap: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 768px) {
  .fonctionnement {
    &__step {
      width: 100% !important;
    }
  }
}

@media (max-width: 320px) {
  .fonctionnement {
    &__step {
      gap: 16px !important;
      padding: 24px 18px !important;
    }
  }
}

@media (min-width: 1080px) {
  body {
    .fonctionnement {

      &__steps {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

    }
  }
}