/*colors*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-color: #353535;
$grey-2-color: #7E7E7E;
$grey-3-color: #EAEAEA;
$grey-4-color: #F6F6F6;
$button-gradient: linear-gradient($secondary-color, $primary-color);

/*Texts sizes*/
$xl-fs: 28px;
$lg-fs: 24px;
$m-fs: 18px;
$sm-fs: 16px;

/*Borders Radius*/
$lg-br: 25px;
$m-br: 20px;
$sm-br: 15px;

/*Fonts Family*/
$shrinkhand: 'Shrikhand', serif;
$roboto: 'Roboto', sans-serif;
