/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*Imports*/
/*colors*/
/*Texts sizes*/
/*Desktop texts sizes*/
/*Borders Radius*/
/*Fonts Family*/
main .location {
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15.5px 0;
  flex-shrink: 0;
  gap: 17px;
  z-index: -10;
}
main .location__exact {
  font-size: 16px;
}
main .reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
main .reservation__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 70%;
  margin-bottom: 12px;
}
main .reservation__tagline {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  width: 80%;
}
main .reservation__button {
  margin-bottom: 17px;
  margin-top: 27px;
}
main .fonctionnement {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
  max-width: 1120px;
}
main .fonctionnement__content {
  max-width: 100%;
  justify-content: flex-start;
}
main .fonctionnement__title {
  margin-bottom: 26px;
}
main .fonctionnement__steps {
  counter-reset: list-counter;
  padding-left: 12.5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .fonctionnement__steps li::before {
  content: counter(list-counter);
  counter-increment: list-counter;
}
main .fonctionnement__step {
  display: flex;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 28px 38px;
  gap: 25px;
  height: max-content;
  position: relative;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  max-width: 100%;
  min-width: max-content;
}
main .fonctionnement__step:not(:last-child) {
  margin-bottom: 24px;
}
main .fonctionnement__step::before {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #9356DC;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}
main .fonctionnement__step i {
  color: #7E7E7E;
}
main .fonctionnement__step .highlighted {
  color: #9356DC;
}
main .restaurants {
  padding: 54px 20px 66px 20px;
  background-color: #F6F6F6;
}
main .restaurants__contents {
  max-width: 1080px;
  margin: 0 auto;
}
main .restaurants__title {
  margin-bottom: 24px;
}
main .restaurants__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  gap: 18px;
}
@media screen and (max-width: 1024px) {
  main .restaurants__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  main .restaurants__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .restaurants__card {
  width: 100%;
  max-width: 500px;
  list-style: none;
  background-color: white;
  border-radius: 20px;
}
main .restaurants__img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main .restaurants__content {
  display: flex;
  padding: 16px 25px 12px 13px;
  justify-content: space-between;
  align-items: center;
}
main .restaurants__name {
  margin-bottom: 5px;
}
main .restaurants__like {
  color: white;
  transition: all 0.2s ease;
}
main .restaurants__like:before {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
main .restaurants__like:hover {
  color: linear-gradient(#FF79DA, #9356DC);
}
main .restaurants__1 .restaurants__img {
  object-position: bottom center;
}
main .restaurants__2 .restaurants__img {
  object-position: center 60%;
}
main .restaurants__3 .restaurants__img {
  object-position: bottom;
}
main .restaurants__4 .restaurants__img {
  object-position: bottom;
}

@media (min-width: 768px) {
  body .reservation__title {
    font-size: 40px;
    margin-bottom: 32px;
  }
  body .fonctionnement__steps {
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  body .fonctionnement__step:not(:last-child) {
    margin-right: 36px;
  }
}
@media (min-width: 1080px) {
  body .fonctionnement__steps {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  body .fonctionnement__step {
    width: 100%;
  }
}
@media (max-width: 1060px) {
  body .restaurants__list {
    justify-content: center;
  }
}
.restaurant-header {
  position: relative;
}
.restaurant-header .go-back {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.restaurant__back-image img {
  height: 375px;
  width: 100vw;
  object-fit: cover;
  z-index: -100;
  position: relative;
}
.restaurant__title {
  font-family: Shrikhand, serif;
  text-align: center;
  font-size: 28px;
  position: relative;
  margin-top: 50px;
}
@media screen and (max-width: 425px) {
  .restaurant__title {
    align-self: flex-start;
    padding-left: 17px;
  }
}
.restaurant__like {
  position: absolute;
  right: -48px;
  bottom: 50%;
}
.restaurant__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  max-width: 1055px;
  width: 80vw;
  margin: -50px auto 0 auto;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
@media screen and (max-width: 425px) {
  .restaurant__menu {
    width: 100vw;
  }
}
.restaurant__menu button {
  margin: 40px auto;
}
.restaurant__menu__title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 18px;
  margin-top: 40px;
}
.restaurant__menu__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.restaurant__menu__lunches {
  width: 60%;
}
@media screen and (max-width: 425px) {
  .restaurant__menu__lunches {
    width: 100%;
    padding: 0 13px;
  }
}
.restaurant__menu__lunch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
}
.restaurant__menu__lunch:not(:last-child) {
  margin-bottom: 10.5px;
}
.restaurant__menu__lunch__content h4 {
  margin-bottom: 5px;
  font-size: 18px;
}
.restaurant__menu__lunch__content p {
  font-size: 15px;
}
.restaurant__menu__lunch__price {
  font-weight: 700;
}

/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: inherit;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 18.75px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  line-height: normal;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
button:hover {
  filter: brightness(1.1);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: sticky;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer .footer__logo h4 {
  font-family: "Shrikhand", serif;
  text-transform: lowercase;
  font-size: 18px;
  margin-bottom: 18px;
}
footer .footer__nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer__nav li i {
  width: 15px;
  margin-right: 11px;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse !important;
    align-items: flex-end;
    padding: 45px 25px 22px 25px;
  }
  footer .footer__logo h4 {
    margin-left: 80px;
    margin-bottom: 0;
    margin-right: 80px;
    line-height: 1rem;
  }
  footer .footer__nav {
    flex-direction: row !important;
  }
  footer .footer__nav li {
    margin: 0 1rem;
    line-height: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
